.header-bg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color:#000000;
  position: fixed;
}

.header-bg > a {
  margin: 0 10px;
  padding: 30px;
  max-width: 260px;
  min-width: 260px;
}

.container-header {
  margin-right: 25px;
}

.header {
  padding: 25px;
  grid-column: 4 / 4;
  align-self: start;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu li {
text-align: end;
font-size: 1.125rem;
  color: #FFFFFF;
  padding: 12px 10px;
}

.header-menu li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #FFFFFF;
  margin-top: 4px;
  transition: 0.4s;
}

.header-menu li:hover::after {
  width: 100%;
}

@media (max-width: 800px) {

  .header {
    padding: 25px;
    grid-column: 1;
    align-self: start;
  }

  .header-bg > a {
    margin: 0;
    padding: 30px 0 0 30px;
    max-width: 260px;
    min-width: 260px;
  }

  .header-menu li::after {
    display: none;
  }

  .header-menu li {
    background-color: #111111;
    border-radius: 5px;
  }
}





