/* .bicicletas-lista {
  position: relative;
} */

.bicicletas-lista ul {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  overflow-x: auto;
  /* -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; */
}

.bicicletas-lista img {
  min-width: 280px;
  flex: 1;
  transition: 0.3s;
}

.bicicletas-lista h2 {
  font-size: 4rem;
  padding-bottom: 30px;
}

.bicicletas-lista span {
  color: #ffbb00;
}

.bicicletas-lista h3 {
  font-size: 2rem;
  color: #111111;
  padding: 20px 0;
  position: relative;
  margin-left: 30px;
}

.bicicletas-lista p {
  font-size: 1.125rem;
  color: #595959;
  margin-left: 30px;
}

.bicicletas-lista h3::before {
  display: block;
  content: "";
  width: 12px;
  height: 8px;
  background-color: #ffbb00;
  position: absolute;
  margin-top: 15px;
  margin-left: -28px;
}

.bicicletas-lista img:hover {
  opacity: .8;
}
.bicicletas-lista h3:hover {
  opacity: .8;
}

@keyframes seta {
  from {
    margin-left: 10px;
  }

  to {
    margin-left: 25px;
  }
}
@media (max-width: 950px) {
  .bicicletas-lista ul::before {
    content: "➔";
    display: block;
    color: rgba(0, 0, 0, 0.3);
    margin-top: -30px;
    margin-left: 10px;
    position: absolute;
    animation: seta 0.5s ease-in-out 0s infinite alternate;
  }
}

@media (max-width: 1000px) {
  .bicicletas-lista {
    padding-bottom: 0px;
  }

  .bicicletas-lista h2 {
    padding-top: 30px;
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .bicicletas-lista h2 {
    font-size: 2.5rem;
  }
}
