.orcamento-bg {
  background-color: #f7f7f7;
  background: linear-gradient(to bottom, #111111 50%, #f7f7f7 50%);
}
.coluna-2 {
  grid-column: span 2;
}

.orcamento {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0px 0px 60px 0px ;
}

.orcamento-1 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #000000;
  align-content: start;
  gap: 20px;
  padding: 60px;
  border-radius: 5px 0px 0px 5px;
}

.orcamento-1 input + label {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  color: #cccccc;
  background-color: #2e2e2e;
  padding: 12px 16px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid #2e2e2e;
  margin-bottom: 4px;
  max-width: 350px;
}

#orcamento-bikcraft input:checked + label {
  border-radius: 5px 5px 0px 0px;
}

.orcamento-1 input + label:nth-child(n + 2) {
  margin-top: 20px;
}

.orcamento-1 label:hover {
  background-color: #404040;
  border-color: #404040;
}

.orcamento-1 input:focus + label {
  box-shadow: 0 0 0 2px #ffbb00;
  border-color: #111111;
}

.orcamento-1 label span {
  display: none;
}

.orcamento-1 input:checked + label span {
  display: inline-block;
}

.orcamento-1 input:checked + label {
  background-color: #ffffff;
  color: #111111;
}

.orcamento-1 input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-1 label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #9c9c9c;
  margin-right: 8px;
}

.orcamento-1 input:checked + label::before {
  border-color: #717171;
  box-shadow: inset 0 0 0 3px #ffffff, inset 0 0 0 6px #717171;
}

.orcamento-1 > * {
  grid-column: 1 / -1;
} 

/* .orcamento-1 > label {
  grid-column: 1;
} */


.orcamento-1 h2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #b2b2b2;
  position: relative;
  font-weight: 500;
}

.orcamento-1 h2::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: #ffbb00;
  margin-left: -10px;
  margin-top: 2px;
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo h2 {
  padding-bottom: 20px;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: block;
}

.orcamentos-detalhes {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
  display: none;
}

.orcamentos-detalhes-2 {
  font-size: 0.75rem;
  color: #595959;
}

.orcamentos-detalhes li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.orcamento-1 input:focus + label + .orcamentos-detalhes {
  box-shadow: 0 0 0 2px #ffbb00;
  border-color: #111111;
}

.orcamentos-detalhes li img {
  width: 16px;
  height: 16px;
}

.orcamento-1 input:checked + label + .orcamentos-detalhes  {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
  .orcamento-1 input:checked + label + .orcamentos-detalhes  {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 880px) {
  .orcamento {
    grid-template-columns: 1fr;
    padding: 0px 0px 30px 0px ;
  }
  
  .orcamentos-detalhes {
    border-radius: 0px 5px 5px 5px;
  }
}

@media (max-width: 500px) {
  .orcamentos-detalhes {
    border-radius: 0px 0px 5px 5px;
  }
}


















.orcamento-2 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 60px;
  border-radius: 0px 5px 5px 0px;
}

.orcamento-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

.orcamento-2 h2 {
  font-size: 0.75rem;
  text-transform: uppercase;color: #404040;
  position: relative;
}

.orcamento-2 h2::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: #ffbb00;
  margin-left: -10px;
  margin-top: 2px;
}

.orcamento-2 a {
  text-align: center;
}

.orcamento-2 label {
  font-size: 1rem;
  color: #111111;
  padding: 0px 0px 5px 0px;
  display: block;
}

.orcamento-2 input {
  background-color: #f7f7f7;
  padding: 12px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ededed;
  width: 100%;
  box-sizing: border-box;
}

.orcamento-2 input:focus {
  outline: none;
  border-color: #ffbb00;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #fea;
}


@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-2 a {
    max-width: 280px;
  }
}

@media (max-width: 600px) {
  .orcamento-2 {
    grid-template-columns: 1fr;
    padding: 30px;
    border-radius: 0px 0px 5px 5px;
  }
  
  .coluna-2 {
    grid-column: 1;
  }
  .orcamento {
    padding: 0px 0px 40px 0px ;
  }
}

